@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url("../css/utli.css");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Samaritan&family=Open+Sans:wght@700&display=swap');
/*
 font-family: 'Noto Sans Samaritan', sans-serif;
font-family: 'Open Sans', sans-serif; 
font-family: 'Luckiest Guy', cursive;

*/







* {
    margin: 0
}

body {
    background-color: #FFF8EE;
}



.cadastrar label {
    font-size: 40px;
}



h2 {
    text-align: center;
}

#gerenciar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Luckiest Guy', cursive;
    background-color: #F2889B;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    height: 6rem;

}

.final {
    border-radius: 5px;
    box-shadow: 1px 1px 20px 5px rgb(179, 175, 175);
    width: 25rem;
    height: 15rem;
    text-align: center;
    margin: 1rem 0;
    padding: 0 0.4rem;
    display: flex;
    justify-content: center;

    transition: 1s;
}

.final:hover {
    scale: 1.1;
    font-weight: bold;
    cursor: pointer;
}

#title-table {
    margin-bottom: 0.6rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 800;

    width: 25rem;
    word-break: break-all;
}

#desc-table {
    font-size: medium;
    align-items: center;
    width: 25rem;
    word-break: break-all;
}

.previa {
    width: 25rem;
    height: 15rem;
    text-align: center;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previatotal {
    width: fit-content;
    padding: 2rem 6rem;
    border-radius: 20px;
    background-color: #95bfa479;
    display: flex;

    flex-direction: column;
    margin: 0 auto 2rem auto;
    font-family: 'Handlee', cursive;
    align-items: center;
}

.previatotal h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #4D4D4D;
}


.subir {
    width: fit-content;
    position: fixed;
    border: 1px #779782 solid;
    bottom: 0;
    margin: 1rem;
    border-radius: 4px;
    padding: 0.01rem;
    right: 0;
    box-shadow: 1px 1px 20px 1px white;
    background-color: #95BFA4;
    height: max-content;
    scroll-behavior: smooth;
}

/* #home {
    margin-top: 5rem;
} */
footer {
    background-color: #000000;
    color: white;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: large;
    font-weight: 300;
}

.navbar {


    box-shadow: 1px 1px 100px 1px rgba(0, 0, 0, 0.288);
    color: #FFFFFF;
    background-color: #F2889B;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;

}

.navbar div {
    padding: 0.8rem;

}

.title-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-home p {
    font-size: 3.8rem;
    margin: 0 0.3rem;
    font-family: 'Luckiest Guy', cursive;
}

#pt1-title {
    color: #95BFA4;
}

#pt2-title {
    color: #F29E38;
}

.linha-home {

    background-color: #000000;
    height: 0.1rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 50rem;
}

.sub-home strong {
    color: #F28444;
}

.sub-home {
    margin: auto;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/wave-orange.png");
    height: 33rem;
    font-size: 1.8rem;

}

.about {
    background-color: #F29E38;
    display: flex;
    text-align: start;
    flex-direction: row;
    height: max-content;
    font-family: 'Open Sans', sans-serif;
    padding: 4rem;
    color: #ffffff;
    justify-content: space-around;
}

.about li {
    font-size: 1.8rem;
    font-weight: bold
}

.about p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.about section {
    width: 20rem;
}

.about-title {
    background-color: #F29E38;
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.8rem;
}

#in-out {
    cursor: pointer;
    padding: 1.1rem;
    height: 100%;

    background-color: #F29E38;
}

.navbar p,
a {
    font-family: 'Noto Sans Samaritan', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0 1rem;

}

.deslogar {
    background-color: #00000000;
    border: 0;
}

#loading {
    margin: auto;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    font-size: 150px;
}

.icon-ger {
    border: 0;
    background-color: rgba(143, 135, 135, 0.596);
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.2rem;
    box-shadow: 1px 1px 20px 1px rgba(143, 135, 135, 0.596);
}

.previa p {
    font-size: larger;
    width: 25rem;
    word-break: break-all;
}

#art {
    margin: 4rem 3rem;
}

.map-postit {
    display: flex;
    font-family: 'Handlee', cursive;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#wave {
    transform: rotate(180deg);
    transition: 0.3s;
    position: absolute;
    fill: #FFF8EE;
}

.map-postit-table {
    padding-top: 4rem;
    margin-top: 1rem;
    background-color: #F2889B;
    height: 100vh;
    display: flex;
    font-family: 'Handlee', cursive;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}



main {

    margin-top: 1rem;
    text-align: center;
}



.link-cad {

    margin: 1rem 0;
    font-size: medium;
    font-weight: 600;
    text-decoration: overline;
}

.cad-center {
    font-family: 'Satisfy', cursive;

    text-align: center;
    margin: auto;
    background-color: #F2889B;
    border: 1px solid rgba(128, 128, 128, 0.164);
    display: flex;
    border-radius: 10px;
    margin-top: 2rem;
    width: 50rem;
    height: fit-content;

    flex-direction: column;
    padding: 6rem 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 35px 20px rgb(179, 175, 175);
}

.login-center {
    font-family: 'Satisfy', cursive;

    text-align: center;
    margin: auto;
    background-color: #F2889B;
    border: 1px solid rgba(128, 128, 128, 0.164);
    display: flex;
    border-radius: 10px;
    margin-top: 4rem;
    width: 50rem;
    height: fit-content;

    flex-direction: column;
    padding: 6rem 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 35px 20px rgb(179, 175, 175);
}

.login-total p {
    margin: 1.4rem 0;

    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: medium;

}



.login-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #95BFA4;
    height: 70vh;
}

.cad-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #95BFA4;
    height: 70vh;
}

.top-login {
    margin-top: 10%;
    margin-bottom: 0;
}

.top-cad {
    margin-top: 12%;
    margin-bottom: 0;
}


.erro {
    color: red;
    font-size: smaller;

    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    text-shadow: red 1px 0 5px;
}

.logo {

    height: 15rem;
    width: 15rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    align-items: center;
}

.inputs-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    align-items: center;
}

.input-login {

    height: 3.4rem;
    border-radius: 8px;
    border: 0;

    margin: 0.8rem 0;
    width: 30rem;
    padding: 0 0.5rem;
}

.input-login::placeholder {
    color: #F2889B;
    font-size: medium;
    font-family: 'Open Sans', sans-serif;

}


.entrar {
    background-color: #FAF6F6;
    align-self: center;
    margin: auto;
    color: #F28444;
    width: 60%;
    height: 3.5rem;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    border-radius: 20px;
}

.hub {
    padding: 8rem;
    padding-bottom: 0;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #95BFA4;
}

.ger-hub {

    display: flex;
    font-size: 55px;
    background-color: #F2889B;
    width: 60%;
    border-radius: 2px;
    height: 6rem;
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    margin: auto;
}

.btn-hub {
    border-radius: 50px;
    border: white solid 6px;
    font-size: 2.5rem;
    text-align: center;


    font-family: 'Luckiest Guy', cursive;
    color: #FFFFFF;
    background-color: #F28444;
    height: 6.5rem;
    width: 45%;
}

.hub-img {
    align-items: start;
    padding: 0 1rem;
    margin: 0;
    background-color: #95BFA4;
    text-align: start;
}

.sub-hub {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 8rem;
}

.link-hub {
    width: 80%;
    height: 6.5rem;
}

.btn-hub a {
    align-items: center;
    justify-content: center;
    color: white;
}

.ger-hub p {
    color: #FFFFFF;
}

.link-hub2 {
    width: 80%;
    height: 6.5rem;
}

.hub2 {
    padding: 8rem;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #EBE7E7;
}

.btn-hub2 {
    border-radius: 50px;
    border: white solid 6px;
    font-size: 40px;
    text-align: center;
    margin-top: 10rem;

    font-family: 'Luckiest Guy', cursive;
    color: #FFFFFF;
    background-color: #F28444;
    height: 6.5rem;
    width: 35%;
}

.equipe {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6rem 0;

}

.fotos {
    display: flex;
    flex-direction: row;
    text-align: unset;

    justify-content: center;

}

.img-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;


}

.nome-team {
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
}

.title-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 70px;


    font-size: 4.5rem;
    color: #FFFFFF;


    font-family: 'Luckiest Guy', cursive;
    width: 55rem;
    height: 6.8rem;
    background-color: #F2889B;
    text-align: center;
    margin: 6rem auto;
}

.icon-team {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.equipe-total {
    margin: 0;
    background-color: #95BFA4;
}

#top-team {
    width: 100%;
}

.img-uni {
    border-radius: 50%;
    border: #000000 1px solid;
}

.contact-title {
    background-color: #F29E38;
    width: 50%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
    font-size: 2.8rem;
    color: #FFFFFF;
    font-family: 'Luckiest Guy', cursive;

}

#triangulo-para-direita {
    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;
    border-left: 3rem solid #F29E38;
}

#sla-top {
    display: flex;
    margin: auto auto;
    width: 100%;
    height: 12rem;

    border-top-right-radius: 2%;
    border-top-left-radius: 2%;

    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    background-color: #FFF8EE;
}





.contact-all {
    display: flex;
    flex-direction: row;
}

.contato {
    background-color: #EBE7E7;
    padding-bottom: 3rem;
}

.inputs1-contat {
    background-color: #95BFA4;
    color: #FFF8EE;
    font-size: 1.8rem;
    border-radius: 20px;
    width: 40rem;
    height: 4rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1rem;
    padding-top: 0.1rem;
    border: 0.1rem solid #769781;

    margin: 0.2rem 0;
}



#inputs-div {
    display: flex;
    flex-direction: column;
}

.form-contact {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#icons-contact {
    margin: auto 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    color: #FFF8EE;
    font-family: 'Open Sans', sans-serif;
    border: 0.1rem solid #769781;

    flex-direction: column;
    background-color: #95BFA4;
    border-radius: 20px;
    height: 20rem;
    width: 40rem;
}

#icons-contact button {
    height: 4rem;
    width: 70%;
    border: 0;
    border-radius: 20px;
    background-color: #FFF8EE;
    color: #95BFA4;
    font-size: 1.7rem;
    margin: 0.8rem 0;
    font-family: 'Open Sans', sans-serif;

}

#email-form-icon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

}



#icon-form-email {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#info-contact {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-family: 'Luckiest Guy', cursive;

}

#icon-form-email div {
    margin: 0 0.5rem;
}

.textarea-contact {
    background-color: #95BFA4;
    font-family: 'Open Sans', sans-serif;
    color: #FFF8EE;
    font-size: 1.8rem;
    border: 0.1rem solid #769781;
    border-radius: 20px;
    width: 40rem;
    padding-left: 1rem;
    padding-top: 0.9rem;
    resize: none;
    height: 15rem;
}

.textarea-contact::placeholder {
    color: #FFF8EE;
    font-family: 'Open Sans', sans-serif;

}

.inputs1-contat::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #FFF8EE;
}


.title-cadastrar-post {
    background-color: #F29E38;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65%;
    border-radius: 5px;
    margin: 0 auto 1rem auto;
    font-family: 'Luckiest Guy', cursive;
    color: #FAF6F6;
    height: 7rem;
}

.form-post {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-around;
    margin: 2rem 0;
}

.inputs-infos {

    width: 40%;
    padding: 2% 2%;
    border-radius: 15px;
}

.inputs-infoss {
    background-color: #95BFA4;
    margin: 1rem;
    width: 100%;
    padding: 4% 6% 4% 4%;
    border-radius: 15px;
}

.cores {
    margin-top: 2.1rem;
    width: 40%;

}

.input-name {
    background-color: #FFFFFF;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: xx-large;
    height: 4.5rem;
    padding-left: 2%;
    border: 0.14rem #EBE7E7 solid;
    margin: 0.3rem 0;
    border-radius: 20px;

}

.input-desc {
    font-family: 'Open Sans', sans-serif;
    color: #000000;

    background-color: #FFFFFF;
    width: 100%;
    resize: none;
    border: 0.14rem #EBE7E7 solid;
    margin: 0.3rem 0;
    font-size: medium;
    height: 9rem;

    border-radius: 20px;
    padding: 2% 0;
    padding-left: 2%;

}

.label-input-info {
    width: 80%;
    color: whitesmoke;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0 1.5%;
}



.cores-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4% 6% 4% 4%;


    margin: 1rem;

    border: 0.14rem #EBE7E7 solid;

    text-align: left;
    height: 10rem;
    border-radius: 20px;
    background-color: #95BFA4;
}

.cores-inputs {

    margin: 0.2rem auto;
    display: flex;
    flex-direction: row;

}



.color-box {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    appearance: none;
    margin: 0 0 0 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.color-box::-webkit-color-swatch {
    border-radius: 50%;

    border: 0.14rem #EBE7E7 solid;
}

.cores-inputs p {
    color: #FAF6F6;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;

}

.div-btn-cadastrar {
    margin: auto 15%;
    text-align: center;
    justify-content: center;
    width: 70%;
}

.btn-cadastrar {
    font-family: 'Luckiest Guy', cursive;
    color: #FAF6F6;
    font-size: 4rem;
    border-radius: 50px;
    border: #EBE7E7 6px solid;
    background-color: #F2889B;
    margin: 1rem 0;
    height: 6rem;
    width: 100%;
}

.clear {
    background-color: transparent;
    border: 0;
    margin: 1rem;
    color: #F2889B;
    text-align: center;
}

.header-table {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-table p {
    color: #000000;
    font-size: large;
    margin: 0.5rem;
    font-family: 'Noto Sans Samaritan', sans-serif;

}

#div-header {
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans Samaritan', sans-serif;

}

.title-post-criados {

    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;

}

#post-it {
    color: #F28444;
    margin: 0 1rem;
}

#criados {
    color: #95BFA4;
    margin: 0 1rem;
}

.green {
    height: 6rem;
    margin: 0;
    width: 100%;
    background-color: #95BFA4;
}

.help {
    background-color: #FAF6F6;
    height: 5rem;
    font-family: 'Luckiest Guy', cursive;
    color: #000000;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: top;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 0 1.2rem 0;
}

.help p {
    font-size: 4rem;
}

.header-help {
    background-color: #95BFA4;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-help p {
    color: #000000;
    font-size: large;
    margin: 0.5rem;
    font-family: 'Noto Sans Samaritan', sans-serif;

}

.help-total {
    display: flex;
    flex-direction: row;
}

.title-help-line {
    font-size: xx-large;
}

#triangulo-para-direita-help {
    margin: 0 0 1.2rem 0;
    width: 0;
    height: 0;
    border-top: 2.5rem solid transparent;
    border-bottom: 2.5rem solid transparent;
    border-left: 2.5rem solid #FAF6F6;
}

.helptotalpag {
    color: #FAF6F6;
    font-family: 'Open Sans', sans-serif;
    background-color: #F29E38;
    height: 100vh;
}

.div-line-help {
    margin: 0.9rem;
    width: 50%;
}

.sub-div-line-help {
    margin: 0.5rem 0;
}

.line-help {
    margin-left: 0.7rem;
    margin: 0.2rem 0;
    font-weight: lighter;
    font-size: small;
}

.hr-login {
    margin: 0 0 1rem 0;
    width: 25rem;
    height: 0.2rem;
    border: 1px solid white;
    background-color: white;
}